* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vazir';
  src: url('../public/font/IRANSansXV.woff2') format('woff2'),
    url('../public/font/IRANSansXV.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazir', sans-serif;
  margin: 0;
  padding: 0;
}